<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Muffins list</title>

    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- page that shows the items from json, the menu of muffins -->
</head>

<body>
    <div class="bg">
        </class>
        <!-- nav bar that allows the user to view the list of muffins manage by creating or deleting muffin -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">DunderMuffin</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="#">Our Muffins</a></li>
                    <li><a href="register.html">Create new muffin</a></li>


            </div>
        </nav>
        <div class="heading" h1>Our selection</h1>
        </div>
        <div class="bglist"><input class="button" type="button" onclick="deleteMuf()" value="delete" /> </class>

            <!-- dunderm is responsable for passing the menu from json to html throught a table -->
            <div id="dunderm"></div>

            <!-- Script that will handle data coming from databa -->
            <script src="js/data.js"></script>


</body>

</html>