<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Muffins list</title>
    
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
    <div class ="bg"></class>

         <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DunderMuffin</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="index.html">Home</a></li>
      <li class="active"><a href="#">Our Muffins</a></li>
      <li><a href="#">Our company</a></li>
    </ul>
      </div>
</nav> 
        <div class="test" h1>Our selection</h1></div>
    <div class="bglist">
        
    <div id="dunderm"></div>
       </class>
    <script src="js/data.js"></script>
  
    
</body>
</html>