<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--  This page is to login into their account to buy muffins--> 
</head>
<body>
    <div class ="backg"></class>
 <!-- nav bar that allows user to access login singup and menu --> 
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">DunderMuffin</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="index.html">Home</a></li>
      <li><a href="list.html">Our Muffins</a></li>
      <li><a href="#">Our company</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="active"><span class="glyphicon glyphicon-user"></span> Log in</a></li>
 
    </ul>
  </div>
</nav> 


    <div class="container">
<div class="main">
<h1>Login to create Muffins</h1>
<form id="form_id" method="post" name="myform">
<label>User Name :</label>
<input type="text" name="username" id="username"/>
<label>Password :</label>
<input type="password" name="password" id="password"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
</form>
<!-- login js is in charge of validade the name and password of the adminitrator page --> 
<script src="js/login.js"></script>
</div>
</div>


</body>
</html>