@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

body, html {
    height: 100%;
    margin: 0;
}
.bg {
     background: url("/img/muffin.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  height: 100%;
  -o-background-size: cover;
  background-size: cover;
}
.backg {
     background: url("/img/muffin.jpg") ;
     height: 100%; 
     background-position: center; 
     background-repeat: no-repeat; 
     background-size: cover; 
}
.hero-image {
  background-image: url("/img/muffin.jpg"); 
  background-color: #cccccc; 
  height: 300px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  
}
 
.heading{
    font-family: 'Charmonman';
    text-align: center;
    font-size: 120px;
    text-shadow: 5px 5px 5px #ffffff;
    color: #000000;
}

.bglist{

    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 50px;
      
}

.bglist .button {
    position: absolute;
    background-color: black;
  color: white;
  font-size: 16px;
}
.formReg {
    background-color:rgba(0, 0, 0, 0.5);
   text-align: center;
   padding-top: 20px;
   align-content: center; 
   align-items: center;
   width: 100%;
   padding-right: 200px;
   padding-left: 200px;
   border-radius: 1.5%;
}
.formReg h1{
    font-size: 50px;
    color: beige;
     text-shadow: 3px 3px 3px #d44b4b;
     
}
.formReg p {
    font-size: 30px;
    color: aquamarine;
    font-family: Lucida Console;
}
.formReg input {
    width: 100%;
    border-radius: 1.5%;
    background-color: cornflowerblue;
    font-size: 20px;
}

.container {
    background-color:rgba(0, 0, 0, 0.5);
   text-align: center;
   padding-top: 100px;
   align-content: center; 
   align-items: center;
   width: 100%;
   padding-bottom: 100px;
}

.container h1{
    color: beige;
    font-family: Lucida Console;
}
.container label{
    color: beige;
    font-size: large;
}

.selected {
      background-color: #abc;
}

.table {
    background-color: #d44b4b;
    border-style: inset;
}
.table tr:hover {
    background-color:#f5f5f5;
}

.table{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.table {
  overflow: auto;
  height: 100px;
}

.table th {
  background: black;
  color:#fff;
}

.table th, .table td {
  padding: 5px;
  text-align: left;
  width: 200px;
  font-size: large;
}

.table{
  display:block;
  overflow:auto;
  height:400px;
  width:100%;
}
.table th tr{
  display:block;
}

