@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

body, html {
    height: 100%;
    margin: 0;
}
.bg {
     background: url("/img/muffin.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-image {
  background-image: url("/img/muffin.jpg"); 
  background-color: #cccccc; 
  height: 300px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  
}


 
.test{
    font-family: 'Charmonman';
    text-align: center;
    font-size: 120px;
    text-shadow: 5px 5px 5px #ffffff;
    color: #000000;
}

.bglist{

    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    

    
}

.name {
    font-family: 'Charmonman', cursive;
    color:#ffffff;
    font-size: 80px;
   text-align: center;
    display: block;
    text-shadow: 3px 3px 3px #d44b4b;
  
  
}

.flavour {
    font-family: 'Charmonman', cursive;
    color: #19fd93;
    font-size: 60px;
     text-align: center;
     display: block;
     text-shadow: 3px 3px 3px #d44b4b;
}

.price{
    font-size: 60px;
     text-align: center;
     display: block;
     font-family: 'Charmonman', cursive;
    color: #19fd93;
    text-shadow: 3px 3px 3px #d44b4b;
}

.formReg {
    background-color:rgba(0, 0, 0, 0.5);
   text-align: center;
   padding-top: 20px;
   align-content: center; 
    align-items: center;
  
}
.formReg h1{
    font-size: 50px;
     text-shadow: 3px 3px 3px #d44b4b;
     
}
.formReg p {
    font-size: 30px;
    color: aquamarine;
}


